#CustomMenu:Hover {
  background: #4c535e;
}

#PackageMenu:Hover {
  background: #4c535e;
}

#CustomBookingApproval:Hover {
  background-color: #26364b;
}

#CustomBookingInformation:Hover {
  background-color: #26364b;
}

#PackageBookingApproval:Hover {
  background-color: #26364b;
}

#PackageBookingInformation:Hover {
  background-color: #26364b;
}

