body {
  background-color: #000000;
  color: white;
}

#First-Section {
  width: 100%;
  height: 80vh;
}

@media (min-width: 300px) {
  #logo {
    font-size: 20px;
    font-family: 'Allerta Stencil', sans-serif;
  }
}

#logo-image #logo {
  font-size: 31px;
  font-family: 'Allerta Stencil', sans-serif;
}

#nav {
  background-color: #ffffff;
}

#logo-image {
  width: 60px;
}

@media (min-width: 300px) {
  #logo-image {
    width: 40px;
  }
}

@media (min-width: 992px) {
  #navcol-1 {
    margin-left: 20px;
    padding-right: 26px;
  }
}

#Sign-In {
  box-shadow: 0 0 1px #000000;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #ffffff;
  background: #0ac0f4;
}

#Sign-In:Hover {
  -webkit-transform: scale(1.1);
  background-color: #8dc53e;
}

#Home:Hover {
  -webkit-transform: scale(1.1);
  color: #0299c4;
}

#About-Us:Hover {
  -webkit-transform: scale(1.1);
  color: #0299c4;
}

#Help-Support:Hover {
  -webkit-transform: scale(1.1);
  color: #0299c4;
}

#First-Container {
  margin-top: 216px;
}

#First-Section:Background {
  filter: blur("1px");
}

#Front-Page {
  justify-content: center;
  align-items: center;
}

#Proceed-Button {
  color: rgb(255,255,255);
  font-size: 26px;
  width: 26px;
}

